.contato {
    width: 1110px;

    padding-top:48px;
    margin: 40px 0px 47px 0px;

    border-top: 1px solid #00000017;
    border-bottom: 1px solid #00000017;

    display: flex;
}

.contato__h1 {
    width:350px;
    
    font-weight: bold;
    font-size: 40px;
    line-height: 42px;

    letter-spacing: -0.36px;
}

.contato__p {
    width: 635px;

    margin-bottom: 54px;

    opacity: 0.8;

    font-size: 16px;
    line-height: 30px;
    font-weight: normal;
}

.contato__container {
    margin-bottom: 48px;
}

.form {
    width: 1110px;

    display: flex;

    margin-bottom: 109px;
}

.form__container {
    display: flex;
    flex-direction: column;
}

.form__label {
    font-weight: 700;
    font-size: 13px;
    line-height: 30px;

    opacity: 0.8;

    margin-bottom: 8px;
}

.form__input {
    all: unset;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

    width: 635px;
    min-height: 48px;

    background-color: hsla(245, 10%, 22%, 0.1);
}

#text-mensagem {
    min-height: 96px;

    margin-bottom: 24px;
}

.form__botao {
    all:unset;
    margin: 0px;
    padding: 17px 70px;
    box-sizing: border-box;

    width: 200px;

    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    
    letter-spacing: 2px;
    text-transform: uppercase;
}

.form__botao:hover {
    background-color: #5FB4A2;
    color:#fafafa;
}