.hero {
    margin-bottom: 115px;
    margin-top: 40px;
}

.hero__img {
    width: 1110px;
}

.content {
    display:flex;
    margin-bottom: 64px;
}

.content__card {
    width: 350px;
    height: 513px;

    margin-right: 125px;

    border-top: 1px solid #33323d1e;
    border-bottom: 1px solid #33323d1e;
}

.card__h1 {
    margin: 48px 0px 29px 0px;

    font-weight: 700;
    font-size: 40px;
    line-height: 42px;
    letter-spacing: -0.36px;
}

.card__p {
    width:350px;

    margin-bottom: 53px;

    opacity: 0.8;

    font-size: 16px;
    line-height: 30px;
    font-weight: 400px;
}

.card__h3 {
    margin-bottom: 16px;
    
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
}

.segundo-h3 {
    margin-bottom: 65px;;
}

.card__botao {
    padding: 17px 60px;
    margin: 32px 0px 48px 0px;

    border: 1px solid #33323D;

    text-decoration: none;
    text-transform: uppercase;

    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 2px;
}

.card__botao:hover {
        background-color: #33323D;
        color: #fafafa;
}

.content__container {
    width: 635px;
}

.content__projeto {
    margin-bottom: 40px;
}

.content__h1 {
    margin-bottom: 28px;
    
    font-weight: 400;
    font-size: 32px;
    line-height: 42px;
    letter-spacing: -0.29px;
}

.content_p {
    width: 635px;
    
    font-size: 15px;
    line-height: 30px;
    font-weight: 400;
    opacity: 0.8;
}

.content__img {
    width: 635px;

    margin-bottom: 32px;
}

.content__img-2 {
    width: 635px;
}

.navegacao{
    display: flex;
    align-items: center;

    margin-bottom: 115px;

    min-height: 132px;
    width: 1110px;

    border-top: 1px solid #33323d1e;
    border-bottom: 1px solid #33323d1e;
}

.navegacao__h2 {
    font-weight: 400;
    font-size: 32px;
    line-height: 36px;
    letter-spacing: -0.29px;
}

.navegacao__h3 {
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    
    opacity: 0.5;
}

.navegacao__etiqueta-ant {
    margin-left: 32px;
    margin-right: 770px;
}

.navegacao__etiqueta-post {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    margin-right: 32px;
}

.contato {
    display: flex;
    align-items: center;
    margin: 0px 165px 150px 165px;
}

.contato__h1 {

    width:367px;
    
    font-size: 40px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: -0.36px;
}

.contato__botao {
    padding: 17px 50px;
    margin-left: 575px;

    border: 1px solid #33323D;

    text-decoration: none;
    text-transform: uppercase;

    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 2px;
}

.contato__botao:hover {
    background-color: #33323D;
    color: #fafafa;;
}